<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Thêm Thời Khoá Biểu</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/static/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/static/admin/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<div id="alert" th:if="${message}" th:class="${message}"></div>

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <div th:replace="~{admin/fragments/side-bar :: sidebar}"></div>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <div th:replace="~{/admin/fragments/navbar :: navbar}"></div>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Thêm Thời Khoá Biểu</h1>
        <!-- Form Thêm-->
        <form name="addStudent" th:action="@{/admin/thoi-khoa-bieu/them}" th:object="${newScheduleRequest}" method="post">
          <div class="form-group">
            <label for="departmentInput">Khoa</label>
            <div th:if="${allDepartment != null and allDepartment.size() &gt; 0}">
              <select class="form-control" th:field="*{department}" id="departmentInput" onchange="changeDpm()">
                <th:block th:each="dpmt : ${allDepartment}">
                  <option th:text="${dpmt.name}" th:value="${dpmt.name}"></option>
                </th:block>
              </select>
            </div>
            <div style="color: red;" th:if="${allDepartment == null or allDepartment.size == 0}">
              Không thể tạo sinh viên mới vì thiếu Khoa trong cơ sở dữ liệu
            </div>
            <!--            <p style="color: red;" th:if="${#fields.hasErrors('sessionName')}" th:errors="*{sessionName}"></p>-->
          </div>
          <div class="form-group">
            <label for="subjectTypeInput">Kiểu Môn</label>
            <select class="form-control" th:field="*{subjectType}" id="subjectTypeInput"
                    onchange="handleSubjectTypeChange()">
              <option th:value="0">Lý Thuyết</option>
              <option th:value="1">Thực Hành</option>
            </select>
            <p style ="color: red;" th:if="${#fields.hasErrors('subjectType')}" th:errors="*{subjectType}"></p>
          </div>
          <div class="form-group">
            <label for="subjectInput">Tên Môn</label>
            <select class="form-control" th:field="*{subject}" id="subjectInput">
            </select>
            <p style ="color: red;" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></p>
          </div>
          <div class="form-group">
            <label for="lecturerInput">Giảng Viên</label>
            <div>
              <select class="form-control" th:field="*{lecturer}" id="lecturerInput">
              </select>
            </div>
            <p style ="color: red;" th:if="${#fields.hasErrors('lecturer')}" th:errors="*{lecturer}"></p>
          </div>
          <div class="form-group">
            <label for="sessionInput">Khoá</label>
            <select class="form-control" th:field="*{session}" id="sessionInput" onchange="handleSessionChange()">
            </select>
            <p style ="color: red;" th:if="${#fields.hasErrors('session')}" th:errors="*{session}"></p>
          </div>
          <div class="form-group">
            <label for="classInput">Lớp</label>
            <select class="form-control" th:field="*{classId}" id="classInput" onchange="handleClassChange()">
            </select>
            <p style ="color: red;" th:if="${#fields.hasErrors('classId')}" th:errors="*{classId}"></p>
          </div>
          <div class="form-group">
            <label for="semesterInput">Học Kỳ</label>
            <select class="form-control" th:field="*{semester}" id="semesterInput">
            </select>
            <p style ="color: red;" th:if="${#fields.hasErrors('semester')}" th:errors="*{semester}"></p>
          </div>
          <div class="form-group">
            <label for="startPeriodInput">Tiết Bắt Đầu</label>
            <select class="form-control" th:field="*{startPeriod}" id="startPeriodInput">
              <option th:value="1">1</option>
              <option th:value="2">2</option>
              <option th:value="3">3</option>
              <option th:value="4">4</option>
              <option th:value="5">5</option>
              <option th:value="6">6</option>
            </select>
            <p style ="color: red;" th:if="${#fields.hasErrors('startPeriod')}" th:errors="*{startPeriod}"></p>
          </div>
          <div class="form-group">
            <label for="endPeriodInput">Tiết Kết Thúc</label>
            <select class="form-control" th:field="*{endPeriod}" id="endPeriodInput">
              <option th:value="1">1</option>
              <option th:value="2">2</option>
              <option th:value="3">3</option>
              <option th:value="4">4</option>
              <option th:value="5">5</option>
              <option th:value="6">6</option>
            </select>
            <p style ="color: red;" th:if="${#fields.hasErrors('endPeriod')}" th:errors="*{endPeriod}"></p>
          </div>
          <div class="form-group">
            <label for="weekDayInput">Thứ</label>
            <select class="form-control form-control-sm" th:field="*{week}" id="weekDayInput">
              <option th:value="2">2</option>
              <option th:value="3">3</option>
              <option th:value="4">4</option>
              <option th:value="5">5</option>
              <option th:value="6">6</option>
              <option th:value="7">7</option>
              <option th:value="8">8</option>
            </select>
            <p style ="color: red;" th:if="${#fields.hasErrors('week')}" th:errors="*{week}"></p>
          </div>
          <div class="form-group">
            <label for="startDayInput">Ngày Bắt Đầu</label>
            <input class="form-control" th:field="*{startDay}" type="date" value="2011-08-19" id="startDayInput">
            <p style ="color: red;" th:if="${#fields.hasErrors('startDay')}" th:errors="*{startDay}"></p>
          </div>
          <div class="form-group">
            <label for="endDayInput">Ngày Kết Thúc</label>
            <input class="form-control" th:field="*{endDay}" type="date" value="2011-08-19" id="endDayInput">
            <p style ="color: red;" th:if="${#fields.hasErrors('endDay')}" th:errors="*{endDay}"></p>
          </div>
          <div class="form-group">
            <label for="periodType">Buổi</label>
            <select class="form-control form-control-sm" th:field="*{periodType}" id="periodType">
              <option th:value="0">Sáng</option>
              <option th:value="1">Chiều</option>
              <option th:value="2">Tối</option>
            </select>
            <p style ="color: red;" th:if="${#fields.hasErrors('periodType')}" th:errors="*{periodType}"></p>
          </div>
          <button type="submit" class="btn btn-primary">Thêm</button>
        </form>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="~{/admin/fragments/logout-modal :: logout}"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/static/admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/static/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/static/admin/js/sb-admin-2.min.js}"></script>

<script th:src="@{/static/admin/js/schedule-add.js}"></script>

</body>

</html>