<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Thêm Lớp</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/static/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/static/admin/css/sb-admin-2.min.css}" rel="stylesheet">
  <script th:src="@{/static/admin/vendor/jquery/jquery.min.js}"></script>
  <!---react-->
  <script src="/static/js/reactjs/polyfill.js"></script>
  <script
    crossorigin
    src="/static/js/reactjs/react.development.js"
  ></script>
  <script
    crossorigin
    src="/static/js/reactjs/react-dom.development.js"
  ></script>
  <script src="/static/js/reactjs/babel.min.js"></script>
  <script src="/static/js/axios.min.js"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <div th:replace="~{admin/fragments/side-bar :: sidebar}"></div>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <div th:replace="~{/admin/fragments/navbar :: navbar}"></div>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <h1 className="h3 mb-4 text-gray-800"></h1>
        <!-- Page Heading -->
        <div id="app"></div>
        <script type="text/babel">
          function App() {
            // -state
            const [sessions, setSessions] = React.useState(null)
            const [departments, setDepartments] = React.useState(null)
            const [classTypeInputStatus, setClassTypeInputStatus] = React.useState(null)
            const [departmentInputStatus, setDepartmentInputStatus] = React.useState(null)
            const [disabledDepartment, setDisabledDepartment] = React.useState(null)
            const [disabledDepartmentOption, setDisabledDepartmentOption] = React.useState(false)
            const [classNameInputValue, setClassNameInputValue] = React.useState('')

            // -ref
            const departmentInputRef = React.useRef();
            const sessionInputRef = React.useRef(null);
            const classNameInputRef = React.useRef(null)
            const classTypeInputRef = React.useRef(null)
            // -effect
            React.useEffect(() => {
              getSessions()
                .then((sessions) => {
                  setSessions(sessions)
                })
                .catch((err) => {
                  console.log(err)
                })
              getDepartment()
                .then((departments) => {
                  setDepartments(departments)
                })
                .catch((err) => {
                  console.log(err)
                })
            }, [])
            React.useEffect(() => {
              if (departments) {
                setClassTypeInputStatus(classTypeInputRef.current.value)
              }
            }, [departments])
            React.useEffect(() => {
              if (classTypeInputStatus) {
                if (classTypeInputStatus === '0') {
                  setDepartmentInputStatus(departments.find(d => d.isGeneral).id.toString())
                  setDisabledDepartment(true)
                } else {
                  setDepartmentInputStatus('')
                  setDisabledDepartmentOption(true)
                }
              }
            }, [classTypeInputStatus])
            React.useEffect(() => {
              if (departmentInputStatus) {
                if (departments.find(d => d.isGeneral).id === departmentInputStatus) {
                  setDisabledDepartment(true)
                }
              }
            }, [departmentInputStatus])

            // -fetch
            const getSessions = () => axios.get('/admin/sessions')
            const getDepartment = () => axios.get('/api/departments')
            // -component
            const sessionOption = (sessionData) => sessionData.map((session) => {
              return (
                <option key={session.id} value={session.id}>{session.name}</option>
              )
            })
            const departmentOption = (departmentData) => departmentData.map((department) => {
              if (department.isGeneral) {
                return <option key={department.id} disabled={disabledDepartmentOption}
                               value={department.id}>{department.name}</option>
              }
              return (
                <option key={department.id} value={department.id}>{department.name}</option>
              )
            })
            // -submit
            const onSubmit = (e) => {
              e.preventDefault()
              axios({
                method: 'POST',
                url: `/api/admin/classes`,
                headers: {
                  'Content-Type': 'application/json'
                },
                data: {
                  name: classNameInputRef.current.value,
                  departmentId: departmentInputRef.current.value,
                  classType: classTypeInputRef.current.value,
                  sessionId: sessionInputRef.current.value,
                }
              })
                .then(() => {
                  alert('Thêm Thành Công')
                  location.reload()
                })
                .catch(err => {
                  alert('Thêm Thất Bại ' + err)
                  location.reload()
                })
            }
            // utils
            // -change
            const classTypeChange = (e) => {
              setDisabledDepartment(false)
              setClassTypeInputStatus(e.target.value)
            }
            const departmentInputChange = (e) => {
              setDepartmentInputStatus(e.target.value)
            }
            const classNameInputValueChange = (e) => {
              setClassNameInputValue(e.target.value)
            }
            return (
              <div>
                <h1 className="h3 mb-4 text-gray-800">Thêm Lớp</h1>
                <form onSubmit={onSubmit}>
                  <div className="form-group">
                    <label htmlFor="classNameInput">Tên Lớp</label>
                    <input type="text" id="classNameInput" ref={classNameInputRef}
                           value={classNameInputValue || ''}
                           onChange={classNameInputValueChange}
                           className="form-control"/>
                  </div>
                  <div className="form-group">
                    <label htmlFor="subjectTypeInput">Kiểu Lớp</label>
                    <select className="form-control" ref={classTypeInputRef} id="subjectTypeInput"
                            value={classTypeInputStatus || ''}
                            onChange={classTypeChange}
                    >
                      <option value="0">đại cương</option>
                      <option value="1">chuyên ngành</option>
                    </select>
                  </div>
                  <div className="form-group">
                    <label>Khoá</label>
                    <select className="form-control" id="sessionInput"
                            ref={sessionInputRef}>
                      {sessions && sessionOption(sessions)}
                    </select>
                  </div>
                  <div className="form-group">
                    <label>Khoa</label>
                    <select className="form-control" id="departmentInput"
                            onChange={departmentInputChange}
                            value={departmentInputStatus || ''}
                            disabled={disabledDepartment}
                            ref={departmentInputRef}>
                      {departments && departmentOption(departments)}
                    </select>
                  </div>
                  <button type="submit" className="btn btn-primary"
                          disabled={!classNameInputValue.trim()}>Thêm</button>
                </form>
              </div>
            )
          }

          ReactDOM.render(React.createElement(App), document.getElementById('app'))
        </script>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="~{/admin/fragments/logout-modal :: logout}"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/static/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/static/admin/js/sb-admin-2.min.js}"></script>
</body>

</html>