<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navbar">

  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>
    <ul class="navbar-nav ml-auto">
      <div class="topbar-divider d-none d-sm-block"></div>
      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link " href="#" id="userDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!--          student name-->
          <span id="studentName" class="mr-2 d-lg-inline text-gray-600 small"></span>
          <img class="img-profile rounded-circle"
               th:src="@{/static/admin/img/undraw_profile.svg}">
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="userDropdown">
<!--          <a class="dropdown-item" href="#">-->
<!--            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--            Profile-->
<!--          </a>-->
<!--          <a class="dropdown-item" href="#">-->
<!--            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--            Settings-->
<!--          </a>-->
<!--          <a class="dropdown-item" href="#">-->
<!--            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--            Activity Log-->
<!--          </a>-->
<!--          <div class="dropdown-divider"></div>-->
          <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Đăng Xuất
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <script type="text/javascript">
    const getStudentWithClass = async () => {
      const student = await getCurrentStudent()
      const classes = await getClassOfCurrentStudent(student.id)
      const studentInformation = classes.reduce((acc, crv, idx) => {
        return idx === 0 ? crv.classId.name : acc + ', ' + crv.classId.name
      }, '')
      const studentName = document.getElementById("studentName")
      const paragraph = document.createElement("b")
      const text = document.createTextNode(student.firstName + ' ' + student.lastName + ' - ' + studentInformation +
        ' - ' + student.phoneNumber)
      paragraph.appendChild(text);
      studentName.appendChild(paragraph)
    }
    const getClassOfCurrentStudent = async (studentId) => {
      return await axios.get(`/api/studentClass?studentId=${studentId}`)
    }
    const getCurrentStudent = async () => {
      return await axios.get('/api/students/current')
    }

    getStudentWithClass()
  </script>
</div>

</body>
</html>