<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/admin-header :: header}"></div>
</head>
<body>
<div class="row">
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      <a href="#" class="btn btn-primary">Sinh Viên</a>
    </div>
  </div>
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      <h6>I'm .col-4</h6>
      <code>.mx-auto</code>
    </div>
  </div>
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      <h6>I'm .col-4</h6>
      <code>.mx-auto</code>
    </div>
  </div>
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      <h6>I'm .col-4</h6>
      <code>.mx-auto</code> center uneven grid cols
    </div>
  </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>