<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="${user.getAdmin() == false} ?
    ~{fragments/member-header :: header} : _"></div>
</head>
<body>
<div class="row" th:if="${user.getAdmin() == false}">
  <!--Ho So-->
  <div class="card col-sm mx-auto" style="width: 10rem;">
      <a th:href="@{/ho-so}">
        <img
          th:src="@{/static/images/index/user.png}"
          class="card-img-top"
          style="width: 158px; height: 158px"
          alt="Ho So">
        <div class="card-body">
          <p class="card-text">Hồ Sơ</p>
        </div>
      </a>
  </div>
  <!--Lich Hoc-->
  <div class="card col-sm mx-auto" style="width: 10rem;">
    <a th:href="@{/thoi-khoa-bieu}">
      <img
        th:src="@{/static/images/index/calendar.png}"
        class="card-img-top"
        style="width: 158px; height: 158px"
        alt="Thoi Khoa Bieu">
      <div class="card-body">
        <p class="card-text">Thời Khoá Biểu</p>
      </div>
    </a>
  </div>
  <!--Hoc Lai-->
  <div class="card col-sm mx-auto" style="width: 10rem;">
    <a th:href="@{/hoc-lai}">
      <img
        th:src="@{/static/images/index/retraining.png}"
        class="card-img-top"
        style="width: 158px; height: 158px"
        alt="Hoc Lai">
      <div class="card-body">
        <p class="card-text">Học Lại</p>
      </div>
    </a>
  </div>
  <!--Hoc Phi-->
  <div class="card col-sm mx-auto" style="width: 10rem;">
    <a th:href="@{/hoc-phi}">
      <img
        th:src="@{/static/images/index/fee.png}"
        class="card-img-top"
        style="width: 158px; height: 158px"
        alt="Hoc Phi">
      <div class="card-body">
        <p class="card-text">Học Phí</p>
      </div>
    </a>
  </div>
  <!--Ket Qua Hoc Tap-->
  <div class="card col-sm mx-auto" style="width: 10rem;">
    <a th:href="@{/ket-qua-hoc-tap}">
      <img
        th:src="@{/static/images/index/score.png}"
        class="card-img-top"
        style="width: 158px; height: 158px"
        alt="Ket Qua Hoc Tap">
      <div class="card-body">
        <p class="card-text">Kết Quả Học Tập</p>
      </div>
    </a>
  </div>
</div>


<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>