<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <script th:src="@{/static/js/jquery-3.6.0.min.js}"></script>
  <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}" />
  <script th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
  <link rel="stylesheet" th:href="@{/static/css/login.css}">
</head>
<body>
<div class="wrapper fadeInDown">
  <img th:src="@{/static/images/login/hactech.png}" alt="">
  <div id="formContent">
    <div th:if="${param.error}">
      <h3>Sai Tên Tài Khoản Hoặc Mật Khẩu</h3>
    </div>
    <div th:if="${param.logout}">
      <h3>Bạn Đã Đăng Xuất</h3>
    </div>
    <br>
    <!-- Login Form -->
    <form th:action="@{/login}" method="post">
      <input type="email" id="login" class="fadeIn second" name="username" placeholder="email">
      <br>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Quên Mật Khẩu?</a>
    </div>
  </div>
</div>
</body>
</html>