<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Thời Khoá Biểu Thực Hành</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/static/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/static/admin/css/sb-admin-2.min.css}" rel="stylesheet">
  <script th:src="@{/static/admin/vendor/jquery/jquery.min.js}"></script>
  <link href="/static/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="/static/js/tabulator.min.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <script src="/static/js/xlsx.full.min.js"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <div th:replace="~{client/fragments/side-bar :: sidebar}"></div>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <div th:replace="~{client/fragments/navbar :: navbar}"></div>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Thời Khoá Biểu Thực Hành</h1>
        <h2 th:text="${currentTime}"></h2>
        <div>
          <button id="download-csv" class="btn btn-success mr-2 mb-2">Tải CSV(Table)</button>
          <button id="download-xlsx" class="btn btn-success mb-2">Tải XLSX(Excel)</button>
        </div>
        <div id="theory-table">
        </div>
        <script type="text/javascript">
          axios.get('/thoi-khoa-bieu/thuc-hanh/practice-schedule')
            .then((data) => {
              const practiceScheduleData = data.map(e => {
                if (e.periodType === 0) {
                  e.periodType = "Sáng"
                }
                if (e.periodType === 1) {
                  e.periodType = "Chiều"
                }
                if (e.periodType === 2) {
                  e.periodType = "Tối"
                }
                return e
              })
              //create Tabulator on DOM element with id "example-table"
              const table = new Tabulator("#theory-table", {
                data: practiceScheduleData,
                layout: "fitColumns",
                initialSort: [
                  {column: "startPeriod", dir:"asc"},
                ],
                columns: [
                  {title: "Môn", field: "subject.name"},
                  {title: "Giảng Viên", field: "lecturer.name"},
                  {title: "Thứ", field: "weekDay", width: 60},
                  {title: "Buổi", field: "periodType", width: 80},
                  {title: "Tiết Bắt Đầu", field: "startPeriod"},
                  {title: "Tiết Kết Thúc", field: "endPeriod"},
                  {title: "Giảng Đường", field: "classroom.lectureHall.name"},
                  {title: "Phòng Học", field: "classroom.name"},
                  {title: "Ngày Bắt Đầu", field: "startDay"},
                  {title: "Ngày Kết Thúc", field: "endDay"},
                ],
                rowClick: function (e, row) { //trigger an alert message when the row is clicked
                  alert("Row " + row.getData().id + " Clicked!!!!");
                },
              });
              if (practiceScheduleData.length > 0) {
                //trigger download of data.csv file
                document.getElementById("download-csv").addEventListener("click",
                  () => {
                    table.download("csv", "data-" + Math.random().toString().replace('0\.', '') + ".csv")
                  });
                //trigger download of data.xlsx file
                document.getElementById("download-xlsx").addEventListener("click", () =>
                  table.download("xlsx", "data-" + Math.random().toString().replace('0\.', '') + ".xlsx",
                    {sheetName: "Data"}));
              }
            })
        </script>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="~{client/fragments/logout-modal :: logout}"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/static/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/static/admin/js/sb-admin-2.min.js}"></script>
</body>

</html>