<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin Pannel</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/static/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/static/admin/css/sb-admin-2.min.css}" rel="stylesheet">
  <script th:src="@{/static/admin/vendor/jquery/jquery.min.js}"></script>
  <!---react-->
  <script src="/static/js/reactjs/polyfill.js"></script>
  <script
    crossorigin
    src="/static/js/reactjs/react.development.js"
  ></script>
  <script
    crossorigin
    src="/static/js/reactjs/react-dom.development.js"
  ></script>
  <script src="/static/js/reactjs/babel.min.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <link href="/static/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="/static/js/tabulator.min.js"></script>
  <script src="/static/js/immutable.min.js"></script>
  <script src="/static/js/immutable.js"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <div th:replace="~{admin/fragments/side-bar :: sidebar}"></div>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <div th:replace="~{/admin/fragments/navbar :: navbar}"></div>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <h1 className="h3 mb-4 text-gray-800"></h1>
        <!-- Page Heading -->
        <div id="app"></div>
        <script type="text/babel">
          function App() {
            // state
            const [sessions, setSessions] = React.useState(null)
            const [semesters, setSemesters] = React.useState(null)
            const [semester, setSemester] = React.useState(null)
            // ref
            const sessionsRef = React.useRef(null)
            const semestersRef = React.useRef(null)
            const termNumberChangeInputRef = React.useRef(null)
            const startDayChangeInputRef = React.useRef(null)
            const endDayChangeInputRef = React.useRef(null)
            const sessionChangeRef = React.useRef(null)

            // effect
            React.useEffect(() => {
              getSessions()
                .then((sessions) => {
                  setSessions(deepFreeze(sessions))
                })
                .catch(err => console.log(err))
            }, [])
            React.useEffect(() => {
              if (sessions)
                getSemesters(sessionsRef.current.value)
                  .then((semesters) => {
                    setSemesters(deepFreeze(semesters))
                  })
                  .catch(err => console.log(err))
            }, [sessions])
            React.useEffect(() => {
              if (semesters) {
                semesters.filter(semester => parseInt(semestersRef.current.value) === semester.id &&
                  setSemester(deepFreeze(semester)))
              }
            }, [semesters])

            // fetch
            const getSessions = () => {
              return axios.get('/admin/sessions')
            }
            const getSemesters = (sessionId) => {
              return axios.get(`/api/semesters?sessionId=${sessionId}`)
            }

            // change
            const sessionsInputChange = () => {
              getSemesters(sessionsRef.current.value)
                .then((semesters) => {
                  setSemesters(deepFreeze(semesters))
                })
                .catch(err => console.log(err))
            }
            const semestersInputChange = () => {
              if (semesters) {
                semesters.filter(semester => parseInt(semestersRef.current.value) === semester.id &&
                  setSemester(deepFreeze(semester)))
              }
            }

            //submit
            const onUpdate = (e) => {
              e.preventDefault()
              axios({
                method: 'PATCH',
                url: `/api/admin/semesters/${semester.id}`,
                headers: {
                  'Content-Type': 'application/json'
                },
                data: {
                  termNumber: termNumberChangeInputRef.current.value,
                  sessionId: sessionChangeRef.current.value,
                  startDay: startDayChangeInputRef.current.value,
                  endDay: endDayChangeInputRef.current.value,
                }
              })
                .then(() => {
                  alert('Cập Nhật Thành Công')
                  location.reload()
                })
                .catch(err => {
                  alert('Cập Nhật Thất Bại ' + err)
                  location.reload()
                })
            }

            // component
            const sessionOption = (sessionData) => sessionData.map((session) => {
              return (
                <option key={session.id} value={session.id}>{session.name}</option>
              )
            })
            const semesterOption = (semesterData) => semesterData.map((semester) => {
              return (
                <option key={semester.id} value={semester.id}>{semester.termNumber}</option>
              )
            })
            return (
              <div>
                <h1 className="h3 mb-4 text-gray-800">Sửa Học Kỳ</h1>
                <form>
                  <div className="form-group">
                    <label>Khoá</label>
                    <select className="form-control" id="sessionsInput" ref={sessionsRef}
                            onChange={sessionsInputChange}>
                      {sessions && sessionOption(sessions)}
                    </select>
                  </div>
                  <div className="form-group">
                    <label>Học Kỳ</label>
                    <select className="form-control" id="semestersInput" ref={semestersRef}
                            onChange={semestersInputChange}>
                      {semesters && semesterOption(semesters)}
                    </select>
                  </div>
                </form>
                <hr/>
                <h1 className="h3 mb-4 text-gray-800">
                  Nhập Thay Đổi Cho:
                  <i>
                    <u>
                      {semester && <span> ID {semester.id} - Học Kỳ Số {semester.termNumber} - Khoá&nbsp;
                        {semester.session.name}</span>}
                    </u>
                  </i>
                </h1>
                <hr/>
                {semester && (
                  <div key={semester.id}>
                    <form onSubmit={onUpdate}>
                      <div className="form-group">
                        <label>Học Kỳ Số</label>
                        <select className="form-control"
                                id="termNumberChangeInput" defaultValue={semester && semester.termNumber}
                                ref={termNumberChangeInputRef}>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                      </div>
                      <div className="form-group">
                        <label htmlFor="startDayChangeInput">Ngày Bắt Đầu</label>
                        <input className="form-control"
                               defaultValue={semester.startDay}
                               ref={startDayChangeInputRef}
                               type="date" id="startDayChangeInput"/>
                      </div>
                      <div className="form-group">
                        <label htmlFor="endDayChangeInput">Ngày Kết Thúc</label>
                        <input className="form-control" type="date"
                               defaultValue={semester.endDay}
                               ref={endDayChangeInputRef}
                               id="endDayChangeInput"/>
                      </div>
                      <div className="form-group">
                        <label>Khoá</label>
                        <select className="form-control" id="sessionsChangeInput" ref={sessionChangeRef}
                                defaultValue={semester.session.id}
                        >
                          {sessions && sessionOption(sessions)}
                        </select>
                      </div>
                      <button type="submit" className="btn btn-primary">Cập Nhật</button>
                    </form>
                  </div>
                )}
              </div>
            )
          }

          function deepFreeze(object) {
            const propNames = Object.getOwnPropertyNames(object);
            for (const name of propNames) {
              const value = object[name];
              if (value && typeof value === "object") {
                deepFreeze(value);
              }
            }
            return Object.freeze(object);
          }

          ReactDOM.render(React.createElement(App), document.getElementById('app'))
        </script>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="~{/admin/fragments/logout-modal :: logout}"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/static/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/static/admin/js/sb-admin-2.min.js}"></script>
</body>

</html>